body {
  margin: 10px 0px 0px 10px;
}

.row{
  background: #ededed;
  padding: 10px;
  margin: 25px 0px 0px 5px;
  padding: 25px;
}

.resultat .text1{
  font-weight: bold;
  font-size: 25px;
  display: block;
  margin-bottom: 5px;
}

.resultat .text2{
  font-size: 18px;
  display: block;
  margin-bottom: 5px;
}

.resultat{
  width: 100%;
}

.nombre{
  font-size: 80px;
  color: #d14a4a;
  font-weight: bold;
  font-family: sans-serif;
  display: block;
  text-align: center;
}

.type{
  display: block;
  font-size: 18px;
  color: #d14a4a;
  font-weight: 700;
}

.container{
  width: 700px;
}

.inputGroup-sizing-sm{
  font-weight:600;
}

.calcule{
  margin: 0 auto;
  font-weight: bold;
}

.taille, .poids{
  border: 0.5px solid grey;
  margin-left: 10px;
}
