.container, .options {
  display: flex;
  justify-content: center;
}

#container-message{
  margin: 5px auto;
  text-align: center;
  width: 600px;
  background-color: yellow;
  border: 1px solid black;
  visibility: hidden;
}

.dropdown, .button-container{
  margin: 0px 5px 0px 5px;
}

#message {
  margin: 0px;
}

.errors{
  align-content: center;
  color: red;
}

#x, #y, #reponse, #operation, #errors{
  text-align: center;
}

#errors{
  color: red;
}
