.container-calc, .container-options {
  display: flex;
  justify-content: center;
}

#container-message{
  margin: 5px auto;
  text-align: center;
  width: 600px;
  background-color: yellow;
  border: 1px solid black;
  display: none;
}

#message {
  margin: 0px;
}
