th, td{
  border: 1px solid black;
}

table td{
  width:50%;
}

th{
  height: 60px;
  width: 200px;
}

table{
  width: 550px;
  table-layout: fixed;
  border-collapse:collapse;
  margin: auto;
}

input {
    width: 100%;
    box-sizing: border-box;
}
